@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body
{
    font-family:'Poppins', sans-serif;
}
/* header section start */
.nav-item-2  a
{
    font-size: 16px ;
}
.header-slider
{
    background-color: #FEEAE9;
}
/* header section end */

/* main part start */
/* ----------section 1  start*/
.watch
{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.bag
{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.shoe
{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
/* ----------section 1 end*/



/* main part end */