@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body
{
    font-family:'Poppins', sans-serif;
}
.nav-item-2  a
{
    font-size: 16px ;
}
.header-slider
{
    background-color: #FEEAE9;
}